.img-login{
    border-radius: 50%;
    height: 88px;
    border: 2px solid rgb(165, 165, 165);
    width: 88px;
}
.forget{
    color: blue;
    font-size: 13px;
}
.loginSection{
    box-shadow: 0 2px 20px 0 rgba(175,145,100,0.2);
    padding:1rem;
}
.btnSocial {
    font-size: 12.5px;
    padding: 8px 4px;
}
.loginSection .form-control{
    height: 3rem;
    padding: 6px 12px;
    font-size: 14px;
}
.imgCard{
    height: 120px;
    object-fit: cover;
}
.imgMedia{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.listLeft li a{
    font-size: 14px;
}
.textMed{
    font-size: 13px;
}
.newList .list-group-item{
    padding: 1rem 1.25rem;
}
.newList .list-group-item.active{
    background-color: rgb(23, 59, 175);
}
.pgInation .page-item .page-link{
    padding: 1rem;
    font-size: 14px;
}
.cards p{
    font-size: 14px;
}
.imgCircule{
    border-radius: 50%;
    height: 100px;
    border: 2px solid rgb(165, 165, 165);
    width: 100px;
}
.slider img{
    height: 21rem;
    object-fit: cover;
}
.slider .carousel-control-prev-icon,.slider .carousel-control-next-icon{
    /* background-color: unset; */
}
.newCard{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
    overflow: hidden;
}
.newCard:hover{
    box-shadow: 0 2px 4px 0 rgba(66, 66, 66, 0.8);
}
.newCard a:hover p{
    color: black;
}
.imgEdit,.boxEdit{
    position: absolute;
    margin-top: -50px;
    object-fit: cover;
    width: 120px;
    height: 60px;
    border:2px solid white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
}
.boxEdit{
    background-color: white;
    color: black;
}
.list-group-item-action{
    background-color: rgba(114, 162, 48, 0.95);
    color: white;
}
.footer-shape {
    height: 60px;
    margin-top: 23rem;
    width: 110%;
    bottom: -11%;
    right: -10px;
    position: absolute;
    transform: rotate(-7deg);
    background-color: #e4bf19;
}
.footer-shapeT {
    height: 49px;
    width: 110%;
    left: -5px;
    bottom: -8%;
    position: absolute;
    transform: rotate(7deg);
    background-color: rgb(45, 115, 206);
}
/* The container */
.custm-check {
    display: block;
    color: black;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .custm-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .custm-check:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .custm-check input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .custm-check input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .custm-check .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .sliderr {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .sliderr:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .sliderr {
    background-color: #2196F3;
  }
  
  input:focus + .sliderr {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .sliderr:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .sliderr.round {
    border-radius: 34px;
  }
  
  .sliderr.round:before {
    border-radius: 50%;
}
.ff_fileupload_start_upload{
  display:none;
}
.headTable th{
  font-weight: bold;
  color: black;
}


textarea#mentions {
  height: 350px;
}

div.card,
.tox div.card {
  width: 240px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(34, 47, 62, .1);
  padding: 8px;
  font-size: 14px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

div.card::after,
.tox div.card::after {
  content: "";
  clear: both;
  display: table;
}

div.card h1,
.tox div.card h1 {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 8px;
  padding: 0;
  line-height: normal;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

div.card p,
.tox div.card p {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

div.card img.avatar,
.tox div.card img.avatar {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  float: left;
}



@media screen and (max-width:991px){
    .contentPage{
        padding-top: 20px !important;
    }
}