.img-login{
    border-radius: 50%;
    height: 88px;
    border: 2px solid rgb(165, 165, 165);
    width: 88px;
}
.forget{
    color: blue;
    font-size: 13px;
}
.loginSection{
    box-shadow: 0 2px 20px 0 rgba(175,145,100,0.2);
    padding:1rem;
}
.btnSocial {
    font-size: 12.5px;
    padding: 8px 4px;
}
.loginSection .form-control{
    height: 3rem;
    padding: 6px 12px;
    font-size: 14px;
}
.imgCard{
    height: 120px;
    object-fit: cover;
}
.imgMedia{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.listLeft li a{
    font-size: 14px;
}
.textMed{
    font-size: 13px;
}
.newList .list-group-item{
    padding: 1rem 1.25rem;
}
.newList .list-group-item.active{
    background-color: rgb(23, 59, 175);
}
.pgInation .page-item .page-link{
    padding: 1rem;
    font-size: 14px;
}
.cards p{
    font-size: 14px;
}
.imgCircule{
    border-radius: 50%;
    height: 100px;
    border: 2px solid rgb(165, 165, 165);
    width: 100px;
}
.slider img{
    height: 21rem;
    object-fit: cover;
}
.slider .carousel-control-prev-icon,.slider .carousel-control-next-icon{
    /* background-color: unset; */
}
.newCard{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
    overflow: hidden;
}
.newCard:hover{
    box-shadow: 0 2px 4px 0 rgba(66, 66, 66, 0.8);
}
.newCard a:hover p{
    color: black;
}
.imgEdit,.boxEdit{
    position: absolute;
    margin-top: -50px;
    object-fit: cover;
    width: 120px;
    height: 60px;
    border:2px solid white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
}
.boxEdit{
    background-color: white;
    color: black;
}
.list-group-item-action{
    background-color: rgba(114, 162, 48, 0.95);
    color: white;
}
.footer-shape {
    height: 60px;
    margin-top: 23rem;
    width: 110%;
    bottom: -7%;
    right: -2px;
    position: absolute;
    transform: rotate(-4deg);
    background-color: #e4bf19;
}
.footer-shapeT {
    height: 50px;
    width: 110%;
    left: -5px;
    bottom: -2%;
    position: absolute;
    transform: rotate(5deg);
    background-color: rgb(45, 115, 206);
}
@media screen and (max-width:991px){
    .contentPage{
        padding-top: 20px !important;
    }
}