.img-login{
    border-radius: 50%;
    height: 88px;
    border: 2px solid rgb(165, 165, 165);
    width: 88px;
}
.forget{
    color: blue;
    font-size: 13px;
}
.loginSection{
    box-shadow: 0 2px 20px 0 rgba(175,145,100,0.2);
    padding:1rem;
}
.btnSocial {
    font-size: 12.5px;
    padding: 8px 4px;
}
.loginSection .form-control{
    height: 3rem;
    padding: 6px 12px;
    font-size: 14px;
}
.imgCard{
    height: 200px;
    object-fit: cover;
}
.imgMedia{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.listLeft li a{
    font-size: 14px;
}
.textMed{
    font-size: 13px;
}
.newList .list-group-item{
    padding: 1rem 1.25rem;
}
.pgInation .page-item .page-link{
    padding: 1rem;
    font-size: 14px;
}
.cards p{
    font-size: 14px;
}
.imgCircule{
    border-radius: 50%;
    height: 100px;
    border: 2px solid rgb(165, 165, 165);
    width: 100px;
}
.slider img{
    height: 21rem;
    object-fit: cover;
}
.slider .carousel-control-prev-icon,.slider .carousel-control-next-icon{
    /* background-color: unset; */
}
@media screen and (max-width:991px){
    .contentPage{
        padding-top: 20px !important;
    }
}